---
import { profileConfig } from "../../config";
import { url } from "../../utils/url-utils";
import ImageWrapper from "../misc/ImageWrapper.astro";

const config = profileConfig;
---
<div class="sidebar-profile">
    <a aria-label="Go to About Page" href={url('/about/')} class="profile-avatar-link">
        <ImageWrapper src={config.avatar || ""} alt="Profile Image of the Author" class="profile-avatar"></ImageWrapper>
    </a>
    <div class="profile-name">{config.name}</div>
</div>

<style>
    .profile-avatar-link {
        position: relative;
        z-index: 1;
        display: block;
        width: 88px;
        height: 88px;
        margin: 0 auto;
        overflow: hidden;
        border-radius: 50%;
        text-decoration: none;
    }

    .profile-avatar :global(img) {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
    }

    .profile-avatar :global(> div.absolute) {
        display: none;
    }

    .profile-name {
        position: relative;
        z-index: 1;
        margin-top: 12px;
        font-family: var(--font-text);
        font-size: 15px;
        font-weight: 400;
        letter-spacing: 0.02em;
        color: var(--text-primary);
    }
</style>
